body {
    font-family: 'Pontano Sans', sans-serif;
    background-color: #E5E7E9;
    font-size: 14px;
}

label {
    float:left;
    padding-right:10px;
}

.field {
    clear:both;
    text-align:right;
    line-height:25px;
    max-width: 280px;
}

form {
     float:left;
 }

table {
     border-collapse: collapse;
     border: 2px solid #0e1929;
     margin-left: 3px;
 }

td, th {
    padding: 5px;
    border: 1px groove #0c0f29;
}

button {
    margin-top: 10px;
    margin-left: 10px;
    clear:both;
    text-align:right;
    line-height:25px;
}

select {
    width: 160px;
}

h1 {
    font-size: 18px;
    margin-left: 50px;
}